<!-- <mat-toolbar color="primary"> -->
<!-- s is a reference to mat-sidenav -->
<!-- <mat-icon (click)="s.toggle()">menu</mat-icon>
    <span>Student Management App</span>
  </mat-toolbar> -->

<!-- <app-header></app-header> -->
<mat-toolbar color="primary">
    <!-- s is a reference to mat-sidenav -->
    <mat-icon (click)="s.toggle()">menu</mat-icon>
    <span>Student Management App</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #s opened="true" mode="push">
        <app-menu></app-menu>
    </mat-sidenav>

<router-outlet></router-outlet>
<app-footer></app-footer>
</mat-sidenav-container>